### To export automatically all classes, methods and functions ###

# make any variable whose name does not begin with a dot available
# exportPattern("^[^\\.]")
# exportPattern("^[[:alphabet:]]+")
# make any variable whose name begins with a letter available
exportClassPattern("^[[:alpha:]]+")

