### To export automatically all classes, methods and functions ###

# make any variable whose name does not begin with a dot available
# exportPattern("^[^\\.]")
# make any variable whose name begins with a letter available
exportPattern("^[[:alphabet:]]+")
# exportClassPattern("^[[:alpha:]]+")

